In [200]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [201]:
tide_2010_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2010.csv')
tide_2011_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2011.csv')
tide_2012_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2012.csv')
tide_2013_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2013.csv')
tide_2014_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2014.csv')
tide_2015_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2015.csv')
tide_2010_boston = pd.read_csv('./data/Boston/tide_levels/tide_2010.csv')
tide_2011_boston = pd.read_csv('./data/Boston/tide_levels/tide_2011.csv')
tide_2012_boston = pd.read_csv('./data/Boston/tide_levels/tide_2012.csv')
tide_2013_boston = pd.read_csv('./data/Boston/tide_levels/tide_2013.csv')
tide_2014_boston = pd.read_csv('./data/Boston/tide_levels/tide_2014.csv')
tide_2015_boston = pd.read_csv('./data/Boston/tide_levels/tide_2015.csv')
tide_2010_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2010.csv')
tide_2011_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2011.csv')
tide_2012_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2012.csv')
tide_2013_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2013.csv')
tide_2014_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2014.csv')
tide_2015_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2015.csv')
tide_2010_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2010.csv')
tide_2011_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2011.csv')
tide_2012_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2012.csv')
tide_2013_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2013.csv')
tide_2014_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2014.csv')
tide_2015_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2015.csv')
tide_2010_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2010.csv')
tide_2011_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2011.csv')
tide_2012_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2012.csv')
tide_2013_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2013.csv')
tide_2014_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2014.csv')
tide_2015_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2015.csv')
tide_2010_newport = pd.read_csv('./data/newport/tide_levels/tide_2010.csv')
tide_2011_newport = pd.read_csv('./data/newport/tide_levels/tide_2011.csv')
tide_2012_newport = pd.read_csv('./data/newport/tide_levels/tide_2012.csv')
tide_2013_newport = pd.read_csv('./data/newport/tide_levels/tide_2013.csv')
tide_2014_newport = pd.read_csv('./data/newport/tide_levels/tide_2014.csv')
tide_2015_newport = pd.read_csv('./data/newport/tide_levels/tide_2015.csv')
tide_2010_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2010.csv')
tide_2011_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2011.csv')
tide_2012_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2012.csv')
tide_2013_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2013.csv')
tide_2014_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2014.csv')
tide_2015_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2015.csv')
tide_2010_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2010.csv')
tide_2011_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2011.csv')
tide_2012_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2012.csv')
tide_2013_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2013.csv')
tide_2014_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2014.csv')
tide_2015_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2015.csv')
tide_2010_portland = pd.read_csv('./data/portland/tide_levels/tide_2010.csv')
tide_2011_portland = pd.read_csv('./data/portland/tide_levels/tide_2011.csv')
tide_2012_portland = pd.read_csv('./data/portland/tide_levels/tide_2012.csv')
tide_2013_portland = pd.read_csv('./data/portland/tide_levels/tide_2013.csv')
tide_2014_portland = pd.read_csv('./data/portland/tide_levels/tide_2014.csv')
tide_2015_portland = pd.read_csv('./data/portland/tide_levels/tide_2015.csv')
tide_2010_providence = pd.read_csv('./data/providence/tide_levels/tide_2010.csv')
tide_2011_providence = pd.read_csv('./data/providence/tide_levels/tide_2011.csv')
tide_2012_providence = pd.read_csv('./data/providence/tide_levels/tide_2012.csv')
tide_2013_providence = pd.read_csv('./data/providence/tide_levels/tide_2013.csv')
tide_2014_providence = pd.read_csv('./data/providence/tide_levels/tide_2014.csv')
tide_2015_providence = pd.read_csv('./data/providence/tide_levels/tide_2015.csv')

In [202]:


def clean_tide_max(df):
    df = df.drop(columns= ['Predicted (ft)', 'Preliminary (ft)'], axis=1)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    #df.index = pd.to_datetime(df.index, format='%Y-%m')
    df = df[df['Verified (ft)'] != '-']
    df['Verified (ft) Max'] = pd.to_numeric(df['Verified (ft)'])
    df = df.resample('D').max()
    return df

In [203]:
def clean_tide_mean(df):
    df = df.drop(columns= ['Predicted (ft)', 'Preliminary (ft)'], axis=1)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    #df.index = pd.to_datetime(df.index, format='%Y-%m')
    df = df[df['Verified (ft)'] != '-']
    df['Verified (ft) Max'] = pd.to_numeric(df['Verified (ft)'])
    df = df.resample('D').mean()
    return df

In [204]:
tide_2010_atlantic_max = clean_tide_max(tide_2010_atlantic)
tide_2011_atlantic_max = clean_tide_max(tide_2011_atlantic)
tide_2012_atlantic_max = clean_tide_max(tide_2012_atlantic)
tide_2013_atlantic_max = clean_tide_max(tide_2013_atlantic)
tide_2014_atlantic_max = clean_tide_max(tide_2014_atlantic)
tide_2015_atlantic_max = clean_tide_max(tide_2015_atlantic)
tide_2010_boston_max = clean_tide_max(tide_2010_boston)
tide_2011_boston_max = clean_tide_max(tide_2011_boston)
tide_2012_boston_max = clean_tide_max(tide_2012_boston)
tide_2013_boston_max = clean_tide_max(tide_2013_boston)
tide_2014_boston_max = clean_tide_max(tide_2014_boston)
tide_2015_boston_max = clean_tide_max(tide_2015_boston)
tide_2010_bridgeport_max = clean_tide_max(tide_2010_bridgeport)
tide_2011_bridgeport_max = clean_tide_max(tide_2011_bridgeport)
tide_2012_bridgeport_max = clean_tide_max(tide_2012_bridgeport)
tide_2013_bridgeport_max = clean_tide_max(tide_2013_bridgeport)
tide_2014_bridgeport_max = clean_tide_max(tide_2014_bridgeport)
tide_2015_bridgeport_max = clean_tide_max(tide_2015_bridgeport)
tide_2010_new_haven_max = clean_tide_max(tide_2010_new_haven)
tide_2011_new_haven_max = clean_tide_max(tide_2011_new_haven)
tide_2012_new_haven_max = clean_tide_max(tide_2012_new_haven)
tide_2013_new_haven_max = clean_tide_max(tide_2013_new_haven)
tide_2014_new_haven_max = clean_tide_max(tide_2014_new_haven)
tide_2015_new_haven_max = clean_tide_max(tide_2015_new_haven)
tide_2010_new_london_max = clean_tide_max(tide_2010_new_london)
tide_2011_new_london_max = clean_tide_max(tide_2011_new_london)
tide_2012_new_london_max = clean_tide_max(tide_2012_new_london)
tide_2013_new_london_max = clean_tide_max(tide_2013_new_london)
tide_2014_new_london_max = clean_tide_max(tide_2014_new_london)
tide_2015_new_london_max = clean_tide_max(tide_2015_new_london)
tide_2010_newport_max = clean_tide_max(tide_2010_newport)
tide_2011_newport_max = clean_tide_max(tide_2011_newport)
tide_2012_newport_max = clean_tide_max(tide_2012_newport)
tide_2013_newport_max = clean_tide_max(tide_2013_newport)
tide_2014_newport_max = clean_tide_max(tide_2014_newport)
tide_2015_newport_max = clean_tide_max(tide_2015_newport)
tide_2010_baltimore_max = clean_tide_max(tide_2010_baltimore)
tide_2011_baltimore_max = clean_tide_max(tide_2011_baltimore)
tide_2012_baltimore_max = clean_tide_max(tide_2012_baltimore)
tide_2013_baltimore_max = clean_tide_max(tide_2013_baltimore)
tide_2014_baltimore_max = clean_tide_max(tide_2014_baltimore)
tide_2015_baltimore_max = clean_tide_max(tide_2015_baltimore)
tide_2010_ocean_city_max = clean_tide_max(tide_2010_ocean_city)
tide_2011_ocean_city_max = clean_tide_max(tide_2011_ocean_city)
tide_2012_ocean_city_max = clean_tide_max(tide_2012_ocean_city)
tide_2013_ocean_city_max = clean_tide_max(tide_2013_ocean_city)
tide_2014_ocean_city_max = clean_tide_max(tide_2014_ocean_city)
tide_2015_ocean_city_max = clean_tide_max(tide_2015_ocean_city)
tide_2010_portland_max = clean_tide_max(tide_2010_portland)
tide_2011_portland_max = clean_tide_max(tide_2011_portland)
tide_2012_portland_max = clean_tide_max(tide_2012_portland)
tide_2013_portland_max = clean_tide_max(tide_2013_portland)
tide_2014_portland_max = clean_tide_max(tide_2014_portland)
tide_2015_portland_max = clean_tide_max(tide_2015_portland)
tide_2010_providence_max = clean_tide_max(tide_2010_providence)
tide_2011_providence_max = clean_tide_max(tide_2011_providence)
tide_2012_providence_max = clean_tide_max(tide_2012_providence)
tide_2013_providence_max = clean_tide_max(tide_2013_providence)
tide_2014_providence_max = clean_tide_max(tide_2014_providence)
tide_2015_providence_max = clean_tide_max(tide_2015_providence)

In [205]:
tide_2010_atlantic_mean = clean_tide_mean(tide_2010_atlantic)
tide_2011_atlantic_mean = clean_tide_mean(tide_2011_atlantic)
tide_2012_atlantic_mean = clean_tide_mean(tide_2012_atlantic)
tide_2013_atlantic_mean = clean_tide_mean(tide_2013_atlantic)
tide_2014_atlantic_mean = clean_tide_mean(tide_2014_atlantic)
tide_2015_atlantic_mean = clean_tide_mean(tide_2015_atlantic)
tide_2010_boston_mean = clean_tide_mean(tide_2010_boston)
tide_2011_boston_mean = clean_tide_mean(tide_2011_boston)
tide_2012_boston_mean = clean_tide_mean(tide_2012_boston)
tide_2013_boston_mean = clean_tide_mean(tide_2013_boston)
tide_2014_boston_mean = clean_tide_mean(tide_2014_boston)
tide_2015_boston_mean = clean_tide_mean(tide_2015_boston)
tide_2010_bridgeport_mean = clean_tide_mean(tide_2010_bridgeport)
tide_2011_bridgeport_mean = clean_tide_mean(tide_2011_bridgeport)
tide_2012_bridgeport_mean = clean_tide_mean(tide_2012_bridgeport)
tide_2013_bridgeport_mean = clean_tide_mean(tide_2013_bridgeport)
tide_2014_bridgeport_mean = clean_tide_mean(tide_2014_bridgeport)
tide_2015_bridgeport_mean = clean_tide_mean(tide_2015_bridgeport)
tide_2010_new_haven_mean = clean_tide_mean(tide_2010_new_haven)
tide_2011_new_haven_mean = clean_tide_mean(tide_2011_new_haven)
tide_2012_new_haven_mean = clean_tide_mean(tide_2012_new_haven)
tide_2013_new_haven_mean = clean_tide_mean(tide_2013_new_haven)
tide_2014_new_haven_mean = clean_tide_mean(tide_2014_new_haven)
tide_2015_new_haven_mean = clean_tide_mean(tide_2015_new_haven)
tide_2010_new_london_mean = clean_tide_mean(tide_2010_new_london)
tide_2011_new_london_mean = clean_tide_mean(tide_2011_new_london)
tide_2012_new_london_mean = clean_tide_mean(tide_2012_new_london)
tide_2013_new_london_mean = clean_tide_mean(tide_2013_new_london)
tide_2014_new_london_mean = clean_tide_mean(tide_2014_new_london)
tide_2015_new_london_mean = clean_tide_mean(tide_2015_new_london)
tide_2010_newport_mean = clean_tide_mean(tide_2010_newport)
tide_2011_newport_mean = clean_tide_mean(tide_2011_newport)
tide_2012_newport_mean = clean_tide_mean(tide_2012_newport)
tide_2013_newport_mean = clean_tide_mean(tide_2013_newport)
tide_2014_newport_mean = clean_tide_mean(tide_2014_newport)
tide_2015_newport_mean = clean_tide_mean(tide_2015_newport)
tide_2010_baltimore_mean = clean_tide_mean(tide_2010_baltimore)
tide_2011_baltimore_mean = clean_tide_mean(tide_2011_baltimore)
tide_2012_baltimore_mean = clean_tide_mean(tide_2012_baltimore)
tide_2013_baltimore_mean = clean_tide_mean(tide_2013_baltimore)
tide_2014_baltimore_mean = clean_tide_mean(tide_2014_baltimore)
tide_2015_baltimore_mean = clean_tide_mean(tide_2015_baltimore)
tide_2010_ocean_city_mean = clean_tide_mean(tide_2010_ocean_city)
tide_2011_ocean_city_mean = clean_tide_mean(tide_2011_ocean_city)
tide_2012_ocean_city_mean = clean_tide_mean(tide_2012_ocean_city)
tide_2013_ocean_city_mean = clean_tide_mean(tide_2013_ocean_city)
tide_2014_ocean_city_mean = clean_tide_mean(tide_2014_ocean_city)
tide_2015_ocean_city_mean = clean_tide_mean(tide_2015_ocean_city)
tide_2010_portland_mean = clean_tide_mean(tide_2010_portland)
tide_2011_portland_mean = clean_tide_mean(tide_2011_portland)
tide_2012_portland_mean = clean_tide_mean(tide_2012_portland)
tide_2013_portland_mean = clean_tide_mean(tide_2013_portland)
tide_2014_portland_mean = clean_tide_mean(tide_2014_portland)
tide_2015_portland_mean = clean_tide_mean(tide_2015_portland)
tide_2010_providence_mean = clean_tide_mean(tide_2010_providence)
tide_2011_providence_mean = clean_tide_mean(tide_2011_providence)
tide_2012_providence_mean = clean_tide_mean(tide_2012_providence)
tide_2013_providence_mean = clean_tide_mean(tide_2013_providence)
tide_2014_providence_mean = clean_tide_mean(tide_2014_providence)
tide_2015_providence_mean = clean_tide_mean(tide_2015_providence)

In [206]:
atlantic_tide_max = pd.concat([tide_2010_atlantic_max, tide_2011_atlantic_max, tide_2012_atlantic_max, tide_2013_atlantic_max, tide_2014_atlantic_max, tide_2015_atlantic_max])
boston_tide_max = pd.concat([tide_2010_boston_max, tide_2011_boston_max, tide_2012_boston_max, tide_2013_boston_max, tide_2014_boston_max, tide_2015_boston_max])
bridgeport_tide_max = pd.concat([tide_2010_bridgeport_max, tide_2011_bridgeport_max, tide_2012_bridgeport_max, tide_2013_bridgeport_max, tide_2014_bridgeport_max, tide_2015_bridgeport_max])
new_haven_tide_max = pd.concat([tide_2010_new_haven_max, tide_2011_new_haven_max, tide_2012_new_haven_max, tide_2013_new_haven_max, tide_2014_new_haven_max, tide_2015_new_haven_max])
new_london_tide_max = pd.concat([tide_2010_new_london_max, tide_2011_new_london_max, tide_2012_new_london_max, tide_2013_new_london_max, tide_2014_new_london_max, tide_2015_new_london_max])
newport_tide_max = pd.concat([tide_2010_newport_max, tide_2011_newport_max, tide_2012_newport_max, tide_2013_newport_max, tide_2014_newport_max, tide_2015_newport_max])
baltimore_tide_max = pd.concat([tide_2010_baltimore_max, tide_2011_baltimore_max, tide_2012_baltimore_max, tide_2013_baltimore_max, tide_2014_baltimore_max, tide_2015_baltimore_max])
ocean_city_tide_max = pd.concat([tide_2010_baltimore_max, tide_2011_baltimore_max, tide_2012_baltimore_max, tide_2013_baltimore_max, tide_2014_baltimore_max, tide_2015_baltimore_max])
portland_tide_max = pd.concat([tide_2010_portland_max, tide_2011_portland_max, tide_2012_portland_max, tide_2013_portland_max, tide_2014_portland_max, tide_2015_portland_max])
providence_tide_max = pd.concat([tide_2010_providence_max, tide_2011_providence_max, tide_2012_providence_max, tide_2013_providence_max, tide_2014_providence_max, tide_2015_providence_max])

In [207]:
atlantic_tide_mean = pd.concat([tide_2010_atlantic_mean, tide_2011_atlantic_mean, tide_2012_atlantic_mean, tide_2013_atlantic_mean, tide_2014_atlantic_mean, tide_2015_atlantic_mean])
boston_tide_mean = pd.concat([tide_2010_boston_mean, tide_2011_boston_mean, tide_2012_boston_mean, tide_2013_boston_mean, tide_2014_boston_mean, tide_2015_boston_mean])
bridgeport_tide_mean = pd.concat([tide_2010_bridgeport_mean, tide_2011_bridgeport_mean, tide_2012_bridgeport_mean, tide_2013_bridgeport_mean, tide_2014_bridgeport_mean, tide_2015_bridgeport_mean])
new_haven_tide_mean = pd.concat([tide_2010_new_haven_mean, tide_2011_new_haven_mean, tide_2012_new_haven_mean, tide_2013_new_haven_mean, tide_2014_new_haven_mean, tide_2015_new_haven_mean])
new_london_tide_mean = pd.concat([tide_2010_new_london_mean, tide_2011_new_london_mean, tide_2012_new_london_mean, tide_2013_new_london_mean, tide_2014_new_london_mean, tide_2015_new_london_mean])
newport_tide_mean = pd.concat([tide_2010_newport_mean, tide_2011_newport_mean, tide_2012_newport_mean, tide_2013_newport_mean, tide_2014_newport_mean, tide_2015_newport_mean])
baltimore_tide_mean = pd.concat([tide_2010_baltimore_mean, tide_2011_baltimore_mean, tide_2012_baltimore_mean, tide_2013_baltimore_mean, tide_2014_baltimore_mean, tide_2015_baltimore_mean])
ocean_city_tide_mean = pd.concat([tide_2010_baltimore_mean, tide_2011_baltimore_mean, tide_2012_baltimore_mean, tide_2013_baltimore_mean, tide_2014_baltimore_mean, tide_2015_baltimore_mean])
portland_tide_mean = pd.concat([tide_2010_portland_mean, tide_2011_portland_mean, tide_2012_portland_mean, tide_2013_portland_mean, tide_2014_portland_mean, tide_2015_portland_mean])
providence_tide_mean = pd.concat([tide_2010_providence_mean, tide_2011_providence_mean, tide_2012_providence_mean, tide_2013_providence_mean, tide_2014_providence_mean, tide_2015_providence_mean])

In [208]:
baro_2010_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2010.csv')
baro_2011_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2011.csv')
baro_2012_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2012.csv')
baro_2013_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2013.csv')
baro_2014_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2014.csv')
baro_2015_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2015.csv')
baro_2010_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2010.csv')
baro_2011_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2011.csv')
baro_2012_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2012.csv')
baro_2013_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2013.csv')
baro_2014_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2014.csv')
baro_2015_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2015.csv')
baro_2010_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2010.csv')
baro_2011_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2011.csv')
baro_2012_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2012.csv')
baro_2013_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2013.csv')
baro_2014_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2014.csv')
baro_2015_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2015.csv')
baro_2010_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2010.csv')
baro_2011_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2011.csv')
baro_2012_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2012.csv')
baro_2013_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2013.csv')
baro_2014_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2014.csv')
baro_2015_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2015.csv')
baro_2010_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2010.csv')
baro_2011_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2011.csv')
baro_2012_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2012.csv')
baro_2013_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2013.csv')
baro_2014_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2014.csv')
baro_2015_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2015.csv')
baro_2010_newport = pd.read_csv('./data/newport/baro_pressure/baro_2010.csv')
baro_2011_newport = pd.read_csv('./data/newport/baro_pressure/baro_2011.csv')
baro_2012_newport = pd.read_csv('./data/newport/baro_pressure/baro_2012.csv')
baro_2013_newport = pd.read_csv('./data/newport/baro_pressure/baro_2013.csv')
baro_2014_newport = pd.read_csv('./data/newport/baro_pressure/baro_2014.csv')
baro_2015_newport = pd.read_csv('./data/newport/baro_pressure/baro_2015.csv')
baro_2010_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2010.csv')
baro_2011_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2011.csv')
baro_2012_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2012.csv')
baro_2013_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2013.csv')
baro_2014_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2014.csv')
baro_2015_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2015.csv')
baro_2010_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2010.csv')
baro_2011_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2011.csv')
baro_2012_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2012.csv')
baro_2013_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2013.csv')
baro_2014_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2014.csv')
baro_2015_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2015.csv')
baro_2010_portland = pd.read_csv('./data/portland/baro_pressure/baro_2010.csv')
baro_2011_portland = pd.read_csv('./data/portland/baro_pressure/baro_2011.csv')
baro_2012_portland = pd.read_csv('./data/portland/baro_pressure/baro_2012.csv')
baro_2013_portland = pd.read_csv('./data/portland/baro_pressure/baro_2013.csv')
baro_2014_portland = pd.read_csv('./data/portland/baro_pressure/baro_2014.csv')
baro_2015_portland = pd.read_csv('./data/portland/baro_pressure/baro_2015.csv')
baro_2010_providence = pd.read_csv('./data/providence/baro_pressure/baro_2010.csv')
baro_2011_providence = pd.read_csv('./data/providence/baro_pressure/baro_2011.csv')
baro_2012_providence = pd.read_csv('./data/providence/baro_pressure/baro_2012.csv')
baro_2013_providence = pd.read_csv('./data/providence/baro_pressure/baro_2013.csv')
baro_2014_providence = pd.read_csv('./data/providence/baro_pressure/baro_2014.csv')
baro_2015_providence = pd.read_csv('./data/providence/baro_pressure/baro_2015.csv')

In [209]:
def clean_baro_max(df):
    #df['DATE TIME'] = df['DATE TIME']#.map(lambda x: x[:10])
    df = df[['DATE TIME', ' BARO']]
    df.rename(columns={'DATE TIME': 'Date', ' BARO': 'baro'}, inplace=True)
    #df['Date'] = df['Date'].map(lambda x: x[:7])
    df.dropna(inplace=True)
    df = df.set_index('Date')
    df.index = pd.to_datetime(df.index)#, format='%Y-%m')
    df['baro'] = pd.to_numeric(df['baro'])
    df = df.resample('D').max()
    return df

In [210]:
def clean_baro_mean(df):
    #df['DATE TIME'] = df['DATE TIME']#.map(lambda x: x[:10])
    df = df[['DATE TIME', ' BARO']]
    df.rename(columns={'DATE TIME': 'Date', ' BARO': 'baro'}, inplace=True)
    #df['Date'] = df['Date'].map(lambda x: x[:7])
    df.dropna(inplace=True)
    df = df.set_index('Date')
    df.index = pd.to_datetime(df.index)#, format='%Y-%m')
    df['baro'] = pd.to_numeric(df['baro'])
    df = df.resample('D').mean()
    return df

In [211]:
baro_2010_atlantic_max = clean_baro_max(baro_2010_atlantic)
baro_2011_atlantic_max = clean_baro_max(baro_2011_atlantic)
baro_2012_atlantic_max = clean_baro_max(baro_2012_atlantic)
baro_2013_atlantic_max = clean_baro_max(baro_2013_atlantic)
baro_2014_atlantic_max = clean_baro_max(baro_2014_atlantic)
baro_2015_atlantic_max = clean_baro_max(baro_2015_atlantic)
baro_2010_boston_max = clean_baro_max(baro_2010_boston)
baro_2011_boston_max = clean_baro_max(baro_2011_boston)
baro_2012_boston_max = clean_baro_max(baro_2012_boston)
baro_2013_boston_max = clean_baro_max(baro_2013_boston)
baro_2014_boston_max = clean_baro_max(baro_2014_boston)
baro_2015_boston_max = clean_baro_max(baro_2015_boston)
baro_2010_bridgeport_max = clean_baro_max(baro_2010_bridgeport)
baro_2011_bridgeport_max = clean_baro_max(baro_2011_bridgeport)
baro_2012_bridgeport_max = clean_baro_max(baro_2012_bridgeport)
baro_2013_bridgeport_max = clean_baro_max(baro_2013_bridgeport)
baro_2014_bridgeport_max = clean_baro_max(baro_2014_bridgeport)
baro_2015_bridgeport_max = clean_baro_max(baro_2015_bridgeport)
baro_2010_new_haven_max = clean_baro_max(baro_2010_new_haven)
baro_2011_new_haven_max = clean_baro_max(baro_2011_new_haven)
baro_2012_new_haven_max = clean_baro_max(baro_2012_new_haven)
baro_2013_new_haven_max = clean_baro_max(baro_2013_new_haven)
baro_2014_new_haven_max = clean_baro_max(baro_2014_new_haven)
baro_2015_new_haven_max = clean_baro_max(baro_2015_new_haven)
baro_2010_new_london_max = clean_baro_max(baro_2010_new_london)
baro_2011_new_london_max = clean_baro_max(baro_2011_new_london)
baro_2012_new_london_max = clean_baro_max(baro_2012_new_london)
baro_2013_new_london_max = clean_baro_max(baro_2013_new_london)
baro_2014_new_london_max = clean_baro_max(baro_2014_new_london)
baro_2015_new_london_max = clean_baro_max(baro_2015_new_london)
baro_2010_newport_max = clean_baro_max(baro_2010_newport)
baro_2011_newport_max = clean_baro_max(baro_2011_newport)
baro_2012_newport_max = clean_baro_max(baro_2012_newport)
baro_2013_newport_max = clean_baro_max(baro_2013_newport)
baro_2014_newport_max = clean_baro_max(baro_2014_newport)
baro_2015_newport_max = clean_baro_max(baro_2015_newport)
baro_2010_baltimore_max = clean_baro_max(baro_2010_baltimore)
baro_2011_baltimore_max = clean_baro_max(baro_2011_baltimore)
baro_2012_baltimore_max = clean_baro_max(baro_2012_baltimore)
baro_2013_baltimore_max = clean_baro_max(baro_2013_baltimore)
baro_2014_baltimore_max = clean_baro_max(baro_2014_baltimore)
baro_2015_baltimore_max = clean_baro_max(baro_2015_baltimore)
baro_2010_ocean_city_max = clean_baro_max(baro_2010_ocean_city)
baro_2011_ocean_city_max = clean_baro_max(baro_2011_ocean_city)
baro_2012_ocean_city_max = clean_baro_max(baro_2012_ocean_city)
baro_2013_ocean_city_max = clean_baro_max(baro_2013_ocean_city)
baro_2014_ocean_city_max = clean_baro_max(baro_2014_ocean_city)
baro_2015_ocean_city_max = clean_baro_max(baro_2015_ocean_city)
baro_2010_portland_max = clean_baro_max(baro_2010_portland)
baro_2011_portland_max = clean_baro_max(baro_2011_portland)
baro_2012_portland_max = clean_baro_max(baro_2012_portland)
baro_2013_portland_max = clean_baro_max(baro_2013_portland)
baro_2014_portland_max = clean_baro_max(baro_2014_portland)
baro_2015_portland_max = clean_baro_max(baro_2015_portland)
baro_2010_providence_max = clean_baro_max(baro_2010_providence)
baro_2011_providence_max = clean_baro_max(baro_2011_providence)
baro_2012_providence_max = clean_baro_max(baro_2012_providence)
baro_2013_providence_max = clean_baro_max(baro_2013_providence)
baro_2014_providence_max = clean_baro_max(baro_2014_providence)
baro_2015_providence_max = clean_baro_max(baro_2015_providence)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [212]:
baro_2010_atlantic_mean = clean_baro_mean(baro_2010_atlantic)
baro_2011_atlantic_mean = clean_baro_mean(baro_2011_atlantic)
baro_2012_atlantic_mean = clean_baro_mean(baro_2012_atlantic)
baro_2013_atlantic_mean = clean_baro_mean(baro_2013_atlantic)
baro_2014_atlantic_mean = clean_baro_mean(baro_2014_atlantic)
baro_2015_atlantic_mean = clean_baro_mean(baro_2015_atlantic)
baro_2010_boston_mean = clean_baro_mean(baro_2010_boston)
baro_2011_boston_mean = clean_baro_mean(baro_2011_boston)
baro_2012_boston_mean = clean_baro_mean(baro_2012_boston)
baro_2013_boston_mean = clean_baro_mean(baro_2013_boston)
baro_2014_boston_mean = clean_baro_mean(baro_2014_boston)
baro_2015_boston_mean = clean_baro_mean(baro_2015_boston)
baro_2010_bridgeport_mean = clean_baro_mean(baro_2010_bridgeport)
baro_2011_bridgeport_mean = clean_baro_mean(baro_2011_bridgeport)
baro_2012_bridgeport_mean = clean_baro_mean(baro_2012_bridgeport)
baro_2013_bridgeport_mean = clean_baro_mean(baro_2013_bridgeport)
baro_2014_bridgeport_mean = clean_baro_mean(baro_2014_bridgeport)
baro_2015_bridgeport_mean = clean_baro_mean(baro_2015_bridgeport)
baro_2010_new_haven_mean = clean_baro_mean(baro_2010_new_haven)
baro_2011_new_haven_mean = clean_baro_mean(baro_2011_new_haven)
baro_2012_new_haven_mean = clean_baro_mean(baro_2012_new_haven)
baro_2013_new_haven_mean = clean_baro_mean(baro_2013_new_haven)
baro_2014_new_haven_mean = clean_baro_mean(baro_2014_new_haven)
baro_2015_new_haven_mean = clean_baro_mean(baro_2015_new_haven)
baro_2010_new_london_mean = clean_baro_mean(baro_2010_new_london)
baro_2011_new_london_mean = clean_baro_mean(baro_2011_new_london)
baro_2012_new_london_mean = clean_baro_mean(baro_2012_new_london)
baro_2013_new_london_mean = clean_baro_mean(baro_2013_new_london)
baro_2014_new_london_mean = clean_baro_mean(baro_2014_new_london)
baro_2015_new_london_mean = clean_baro_mean(baro_2015_new_london)
baro_2010_newport_mean = clean_baro_mean(baro_2010_newport)
baro_2011_newport_mean = clean_baro_mean(baro_2011_newport)
baro_2012_newport_mean = clean_baro_mean(baro_2012_newport)
baro_2013_newport_mean = clean_baro_mean(baro_2013_newport)
baro_2014_newport_mean = clean_baro_mean(baro_2014_newport)
baro_2015_newport_mean = clean_baro_mean(baro_2015_newport)
baro_2010_baltimore_mean = clean_baro_mean(baro_2010_baltimore)
baro_2011_baltimore_mean = clean_baro_mean(baro_2011_baltimore)
baro_2012_baltimore_mean = clean_baro_mean(baro_2012_baltimore)
baro_2013_baltimore_mean = clean_baro_mean(baro_2013_baltimore)
baro_2014_baltimore_mean = clean_baro_mean(baro_2014_baltimore)
baro_2015_baltimore_mean = clean_baro_mean(baro_2015_baltimore)
baro_2010_ocean_city_mean = clean_baro_mean(baro_2010_ocean_city)
baro_2011_ocean_city_mean = clean_baro_mean(baro_2011_ocean_city)
baro_2012_ocean_city_mean = clean_baro_mean(baro_2012_ocean_city)
baro_2013_ocean_city_mean = clean_baro_mean(baro_2013_ocean_city)
baro_2014_ocean_city_mean = clean_baro_mean(baro_2014_ocean_city)
baro_2015_ocean_city_mean = clean_baro_mean(baro_2015_ocean_city)
baro_2010_portland_mean = clean_baro_mean(baro_2010_portland)
baro_2011_portland_mean = clean_baro_mean(baro_2011_portland)
baro_2012_portland_mean = clean_baro_mean(baro_2012_portland)
baro_2013_portland_mean = clean_baro_mean(baro_2013_portland)
baro_2014_portland_mean = clean_baro_mean(baro_2014_portland)
baro_2015_portland_mean = clean_baro_mean(baro_2015_portland)
baro_2010_providence_mean = clean_baro_mean(baro_2010_providence)
baro_2011_providence_mean = clean_baro_mean(baro_2011_providence)
baro_2012_providence_mean = clean_baro_mean(baro_2012_providence)
baro_2013_providence_mean = clean_baro_mean(baro_2013_providence)
baro_2014_providence_mean = clean_baro_mean(baro_2014_providence)
baro_2015_providence_mean = clean_baro_mean(baro_2015_providence)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [213]:
atlantic_baro_max = pd.concat([baro_2010_atlantic_max, baro_2011_atlantic_max, baro_2012_atlantic_max, baro_2013_atlantic_max, baro_2014_atlantic_max, baro_2015_atlantic_max])
boston_baro_max = pd.concat([baro_2010_boston_max, baro_2011_boston_max, baro_2012_boston_max, baro_2013_boston_max, baro_2014_boston_max, baro_2015_boston_max])
bridgeport_baro_max = pd.concat([baro_2010_bridgeport_max, baro_2011_bridgeport_max, baro_2012_bridgeport_max, baro_2013_bridgeport_max, baro_2014_bridgeport_max, baro_2015_bridgeport_max])
new_haven_baro_max = pd.concat([baro_2010_new_haven_max, baro_2011_new_haven_max, baro_2012_new_haven_max, baro_2013_new_haven_max, baro_2014_new_haven_max, baro_2015_new_haven_max])
new_london_baro_max = pd.concat([baro_2010_new_london_max, baro_2011_new_london_max, baro_2012_new_london_max, baro_2013_new_london_max, baro_2014_new_london_max, baro_2015_new_london_max])
newport_baro_max = pd.concat([baro_2010_newport_max, baro_2011_newport_max, baro_2012_newport_max, baro_2013_newport_max, baro_2014_newport_max, baro_2015_newport_max])
baltimore_baro_max = pd.concat([baro_2010_baltimore_max, baro_2011_baltimore_max, baro_2012_baltimore_max, baro_2013_baltimore_max, baro_2014_baltimore_max, baro_2015_baltimore_max])
ocean_city_baro_max = pd.concat([baro_2010_ocean_city_max, baro_2011_ocean_city_max, baro_2012_ocean_city_max, baro_2013_ocean_city_max, baro_2014_ocean_city_max, baro_2015_ocean_city_max])
portland_baro_max = pd.concat([baro_2010_portland_max, baro_2011_portland_max, baro_2012_portland_max, baro_2013_portland_max, baro_2014_portland_max, baro_2015_portland_max])
providence_baro_max = pd.concat([baro_2010_providence_max, baro_2011_providence_max, baro_2012_providence_max, baro_2013_providence_max, baro_2014_providence_max, baro_2015_providence_max])

In [214]:
atlantic_baro_mean = pd.concat([baro_2010_atlantic_mean, baro_2011_atlantic_mean, baro_2012_atlantic_mean, baro_2013_atlantic_mean, baro_2014_atlantic_mean, baro_2015_atlantic_mean])
boston_baro_mean = pd.concat([baro_2010_boston_mean, baro_2011_boston_mean, baro_2012_boston_mean, baro_2013_boston_mean, baro_2014_boston_mean, baro_2015_boston_mean])
bridgeport_baro_mean = pd.concat([baro_2010_bridgeport_mean, baro_2011_bridgeport_mean, baro_2012_bridgeport_mean, baro_2013_bridgeport_mean, baro_2014_bridgeport_mean, baro_2015_bridgeport_mean])
new_haven_baro_mean = pd.concat([baro_2010_new_haven_mean, baro_2011_new_haven_mean, baro_2012_new_haven_mean, baro_2013_new_haven_mean, baro_2014_new_haven_mean, baro_2015_new_haven_mean])
new_london_baro_mean = pd.concat([baro_2010_new_london_mean, baro_2011_new_london_mean, baro_2012_new_london_mean, baro_2013_new_london_mean, baro_2014_new_london_mean, baro_2015_new_london_mean])
newport_baro_mean = pd.concat([baro_2010_newport_mean, baro_2011_newport_mean, baro_2012_newport_mean, baro_2013_newport_mean, baro_2014_newport_mean, baro_2015_newport_mean])
baltimore_baro_mean = pd.concat([baro_2010_baltimore_mean, baro_2011_baltimore_mean, baro_2012_baltimore_mean, baro_2013_baltimore_mean, baro_2014_baltimore_mean, baro_2015_baltimore_mean])
ocean_city_baro_mean = pd.concat([baro_2010_ocean_city_mean, baro_2011_ocean_city_mean, baro_2012_ocean_city_mean, baro_2013_ocean_city_mean, baro_2014_ocean_city_mean, baro_2015_ocean_city_mean])
portland_baro_mean = pd.concat([baro_2010_portland_mean, baro_2011_portland_mean, baro_2012_portland_mean, baro_2013_portland_mean, baro_2014_portland_mean, baro_2015_portland_mean])
providence_baro_mean = pd.concat([baro_2010_providence_mean, baro_2011_providence_mean, baro_2012_providence_mean, baro_2013_providence_mean, baro_2014_providence_mean, baro_2015_providence_mean])

In [215]:
atlantic = pd.merge(atlantic_tide_max, atlantic_baro_max, on='Date')
boston = pd.merge(boston_tide_max, boston_baro_max, on='Date')
bridgeport = pd.merge(bridgeport_tide_max, bridgeport_baro_max, on='Date')
new_haven = pd.merge(new_haven_tide_max, new_haven_baro_max, on='Date')
new_london = pd.merge(new_london_tide_max, new_london_baro_max, on='Date')
newport = pd.merge(newport_tide_max, newport_baro_max, on='Date')
baltimore = pd.merge(baltimore_tide_max, baltimore_baro_max, on='Date')
ocean_city = pd.merge(ocean_city_tide_max, ocean_city_baro_max, on='Date')
portland = pd.merge(portland_tide_max, portland_baro_max, on='Date')
providence = pd.merge(providence_tide_max, providence_baro_max, on='Date')

In [216]:
atlantic_mean = pd.merge(atlantic_tide_mean, atlantic_baro_mean, on='Date')
boston_mean = pd.merge(boston_tide_mean, boston_baro_mean, on='Date')
bridgeport_mean = pd.merge(bridgeport_tide_mean, bridgeport_baro_mean, on='Date')
new_haven_mean = pd.merge(new_haven_tide_mean, new_haven_baro_mean, on='Date')
new_london_mean = pd.merge(new_london_tide_mean, new_london_baro_mean, on='Date')
newport_mean = pd.merge(newport_tide_mean, newport_baro_mean, on='Date')
baltimore_mean = pd.merge(baltimore_tide_mean, baltimore_baro_mean, on='Date')
ocean_city_mean = pd.merge(ocean_city_tide_mean, ocean_city_baro_mean, on='Date')
portland_mean = pd.merge(portland_tide_mean, portland_baro_mean, on='Date')
providence_mean = pd.merge(providence_tide_mean, providence_baro_mean, on='Date')

In [217]:
atlantic_unemploy = pd.read_csv('./data/Atlantic_city_data/unemployment_nonseaonal.csv')
boston_unemploy = pd.read_csv('./data/Boston/unemployment_nonseasonal.csv')
bridgeport_unemploy = pd.read_csv('./data/bridgeport_data/unemployment_nonseasonal.csv')
new_haven_unemploy = pd.read_csv('./data/new_haven_data/unemployment_nonseasonal.csv')
new_london_unemploy = pd.read_csv('./data/new_london_data/unemployment_nonseasonal.csv')
newport_unemploy = pd.read_csv('./data/newport/unemployment_nonseasonal.csv')
baltimore_unemploy = pd.read_csv('./data/baltimore_data/unemployment_nonseasonal.csv')
ocean_city_unemploy = pd.read_csv('./data/ocean_city/unemployment_nonseasonal.csv')
portland_unemploy = pd.read_csv('./data/portland/unemployment_nonseasonal.csv')
providence_unemploy = pd.read_csv('./data/providence/unemployment_nonseasonal.csv')

In [218]:
def clean_unemploy(df, noaa_data):
    df.columns = ['Date', 'unemployment_rate']
    df['Date'] = df['Date'].map(lambda x: x[:7])
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    df['unemployment_rate'] = pd.to_numeric(df['unemployment_rate'])
    list_days = noaa_data.index
    rate_list = [df.loc[str(i)[:7]]['unemployment_rate'].item() for i in list_days]
    unemploy_df = pd.DataFrame(data=rate_list, index=list_days)
    unemploy_df.rename(columns={0: 'rate'}, inplace=True)
    return unemploy_df

In [219]:
atlantic_unemploy_df = clean_unemploy(atlantic_unemploy, atlantic)
boston_unemploy_df = clean_unemploy(boston_unemploy, boston)
bridgeport_unemploy_df = clean_unemploy(bridgeport_unemploy, bridgeport)
new_haven_unemploy_df = clean_unemploy(new_haven_unemploy, new_haven)
new_london_unemploy_df = clean_unemploy(new_london_unemploy, new_london)
newport_unemploy_df = clean_unemploy(newport_unemploy, newport)
baltimore_unemploy_df = clean_unemploy(baltimore_unemploy, baltimore)
ocean_city_uneploy_df = clean_unemploy(ocean_city_unemploy, ocean_city)
portland_unemploy_df = clean_unemploy(portland_unemploy, portland)
providence_unemploy_df = clean_unemploy(providence_unemploy, providence)

In [220]:
atlantic_city = pd.merge(atlantic, atlantic_unemploy_df, on='Date')
boston = pd.merge(boston, boston_unemploy_df, on='Date')
bridgeport = pd.merge(bridgeport, bridgeport_unemploy_df, on='Date')
new_haven = pd.merge(new_haven, new_haven_unemploy_df, on='Date')
new_london = pd.merge(new_london, new_london_unemploy_df, on='Date')
newport = pd.merge(newport, newport_unemploy_df, on='Date')
baltimore = pd.merge(baltimore, baltimore_unemploy_df, on='Date')
ocean_city = pd.merge(ocean_city, ocean_city_uneploy_df, on='Date')
portland = pd.merge(portland, portland_unemploy_df, on='Date')
providence = pd.merge(providence, providence_unemploy_df, on='Date')

In [221]:
atlantic_city_mean = pd.merge(atlantic_mean, atlantic_unemploy_df, on='Date')
boston_mean = pd.merge(boston_mean, boston_unemploy_df, on='Date')
bridgeport_mean = pd.merge(bridgeport_mean, bridgeport_unemploy_df, on='Date')
new_haven_mean = pd.merge(new_haven_mean, new_haven_unemploy_df, on='Date')
new_london_mean = pd.merge(new_london_mean, new_london_unemploy_df, on='Date')
newport_mean = pd.merge(newport_mean, newport_unemploy_df, on='Date')
baltimore_mean = pd.merge(baltimore_mean, baltimore_unemploy_df, on='Date')
ocean_city_mean = pd.merge(ocean_city_mean, ocean_city_uneploy_df, on='Date')
portland_mean = pd.merge(portland_mean, portland_unemploy_df, on='Date')
providence_mean = pd.merge(providence_mean, providence_unemploy_df, on='Date')

In [222]:
atlantic_unemploy_df

            rate
Date
2010-01-01  13.9
2010-01-02  13.9
2010-01-03  13.9
2010-01-04  13.9
2010-01-05  13.9
2010-01-06  13.9
2010-01-07  13.9
2010-01-08  13.9
2010-01-09  13.9
2010-01-10  13.9
2010-01-11  13.9
2010-01-12  13.9
2010-01-13  13.9
2010-01-14  13.9
2010-01-15  13.9
2010-01-16  13.9
2010-01-17  13.9
2010-01-18  13.9
2010-01-19  13.9
2010-01-20  13.9
2010-01-21  13.9
2010-01-22  13.9
2010-01-23  13.9
2010-01-24  13.9
2010-01-25  13.9
2010-01-26  13.9
2010-01-27  13.9
2010-01-28  13.9
2010-01-29  13.9
2010-01-30  13.9
...          ...
2015-12-02   7.7
2015-12-03   7.7
2015-12-04   7.7
2015-12-05   7.7
2015-12-06   7.7
2015-12-07   7.7
2015-12-08   7.7
2015-12-09   7.7
2015-12-10   7.7
2015-12-11   7.7
2015-12-12   7.7
2015-12-13   7.7
2015-12-14   7.7
2015-12-15   7.7
2015-12-16   7.7
2015-12-17   7.7
2015-12-18   7.7
2015-12-19   7.7
2015-12-20   7.7
2015-12-21   7.7
2015-12-22   7.7
2015-12-23   7.7
2015-12-24   7.7
2015-12-25   7.7
2015-12-26   7.7
2015-12-27   7.7
2015-12-28   7.7
2015-12-29   7.7
2015-12-30   7.7
2015-12-31   7.7

[2191 rows x 1 columns]

In [223]:
atlantic_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/atlantic-city-nj.csv')
baltimore_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/baltimore-md.csv')
boston_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/boston-ma.csv')
bridgeport_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/bridgeport-ct.csv')
new_haven_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/new-haven-ct.csv')
new_london_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/new-london-ct.csv')
newport_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/newport-ri.csv')
portland_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/portland-me.csv')
ocean_city_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/ocean-city-md.csv')
providence_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/providence-ri.csv')
new_bedford_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/new-bedford-ma.csv')

In [224]:
def clean_prep(df):
    
    df = df.loc[:, ["DATE", "PRCP", "WSF2", "WSF5"]]
    
    df.rename(columns={'DATE': 'Date'}, inplace=True)
        
    df = df.set_index("Date")
    
    df.index = pd.to_datetime(df.index)
        
    return df

In [225]:
atlantic_prep_max = clean_prep(atlantic_prep)
baltimore_prep_max = clean_prep(baltimore_prep)
boston_prep_max = clean_prep(boston_prep)
bridgeport_prep_max = clean_prep(bridgeport_prep)
new_haven_prep_max = clean_prep(new_haven_prep)
new_london_prep_max = clean_prep(new_london_prep)
newport_prep_max = clean_prep(newport_prep)
portland_prep_max = clean_prep(portland_prep)
ocean_city_prep_max = clean_prep(ocean_city_prep)
providence_prep_max = clean_prep(providence_prep)
new_bedford_prep_max = clean_prep(new_bedford_prep)

In [226]:
atlantic_city.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25',
               '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', name='Date', length=2191, freq=None)

In [227]:
atlantic_city = pd.merge(atlantic_city, atlantic_prep_max, on='Date')
boston = pd.merge(boston, boston_prep_max, on='Date')
bridgeport = pd.merge(bridgeport, bridgeport_prep_max, on='Date')
new_haven = pd.merge(new_haven, new_haven_prep_max, on='Date')
new_london = pd.merge(new_london, new_london_prep_max, on='Date')
newport = pd.merge(newport, newport_prep_max, on='Date')
baltimore = pd.merge(baltimore, baltimore_prep_max, on='Date')
ocean_city = pd.merge(ocean_city, ocean_city_prep_max, on='Date')
portland = pd.merge(portland, portland_prep_max, on='Date')
providence = pd.merge(providence, providence_prep_max, on='Date')

In [228]:
atlantic_city_mean = pd.merge(atlantic_city_mean, atlantic_prep_max, on='Date')
boston_mean = pd.merge(boston_mean, boston_prep_max, on='Date')
bridgeport_mean = pd.merge(bridgeport_mean, bridgeport_prep_max, on='Date')
new_haven_mean = pd.merge(new_haven_mean, new_haven_prep_max, on='Date')
new_london_mean = pd.merge(new_london_mean, new_london_prep_max, on='Date')
newport_mean = pd.merge(newport_mean, newport_prep_max, on='Date')
baltimore_mean = pd.merge(baltimore_mean, baltimore_prep_max, on='Date')
ocean_city_mean = pd.merge(ocean_city_mean, ocean_city_prep_max, on='Date')
portland_mean = pd.merge(portland_mean, portland_prep_max, on='Date')
providence_mean = pd.merge(providence_mean, providence_prep_max, on='Date')

In [ ]:
atlantic_city = atlantic_city_mean.resample('M').max()
boston = boston_mean.resample('M').max()
bridgeport = bridgeport_mean.resample('M').max()
new_haven = new_haven_mean.resample('M').max()
new_london = new_london_mean.resample('M').max()
newport = newport_mean.resample('M').max()
baltimore = baltimore_mean.resample('M').max()
ocean_city = ocean_city_mean.resample('M').max()
portland = portland_mean.resample('M').max()
providence = portland_mean.resample('M').max()

In [ ]:
atlantic_city_mean = atlantic_city_mean.resample('M').mean()
boston_mean = boston_mean.resample('M').mean()
bridgeport_mean = bridgeport_mean.resample('M').mean()
new_haven_mean = new_haven_mean.resample('M').mean()
new_london_mean = new_london_mean.resample('M').mean()
newport_mean = newport_mean.resample('M').mean()
baltimore_mean = baltimore_mean.resample('M').mean()
ocean_city_mean = ocean_city_mean.resample('M').mean()
portland_mean = portland_mean.resample('M').mean()
providence_mean = portland_mean.resample('M').mean()

In [251]:
atlantic_wage = pd.read_csv('./bls-api-data/AtlanticCity2010-2015.csv')

In [252]:
atlantic_wage.rename(columns={'date': 'Date'}, inplace=True)
atlantic_wage.drop('Unnamed: 0', axis=1, inplace=True)
atlantic_wage['Date'] = pd.to_datetime(atlantic_wage['Date'])
atlantic_wage = atlantic_wage.set_index('Date')
atlantic_wage.resample('M').mean()

,natural_resources_mining_all_employees,natural_resources_mining_avg_monthly_pay,natural_resources_mining_aggr_value,construction_all_employees,construction_avg_monthly_pay,construction_aggr_value,manufacturing_all_employees,manufacturing_avg_monthly_pay,manufacturing_aggr_value,trade_transportation_utilities_all_employees,...,leisure_hospitality_all_employees,leisure_hospitality_avg_monthly_pay,leisure_hospitality_aggr_value,other_services_all_employees,other_services_avg_monthly_pay,other_services_aggr_value,unclassified_all_employees,unclassified_avg_monthly_pay,unclassified_aggr_value,total_industries_aggr_value
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31,402,2324,934248,4124,4172,17205328,2066,3568,7371488,19835,...,45393,2256,102406608,3534,1968,6954912,13.0,1176.0,15288.0,289739344.0
2010-02-28,346,2324,804104,3829,4172,15974588,2023,3568,7218064,19359,...,45533,2256,102722448,3487,1968,6862416,15.0,1176.0,17640.0,287101312.0
2010-03-31,455,2324,1057420,4133,4172,17242876,2095,3568,7474960,19554,...,46326,2256,104511456,3524,1968,6935232,16.0,1176.0,18816.0,292857376.0
2010-04-30,607,1480,898360,4369,4320,18874080,2160,3756,8112960,19885,...,47364,2268,107421552,3573,2064,7374672,11.0,1244.0,13684.0,304970040.0
2010-05-31,731,1480,1081880,4591,4320,19833120,2227,3756,8364612,20324,...,49096,2268,111349728,3683,2064,7601712,16.0,1244.0,19904.0,311737844.0
2010-06-30,5434,1480,8042320,4742,4320,20485440,2215,3756,8319540,20795,...,51252,2268,116239536,3899,2064,8047536,24.0,1244.0,29856.0,327325844.0
2010-07-31,5090,1680,8551200,4728,4428,20935584,2220,3860,8569200,20840,...,52098,2420,126077160,3877,2124,8234748,22.0,1344.0,29568.0,342335436.0
2010-08-31,1468,1680,2466240,4622,4428,20466216,2257,3860,8712020,20878,...,51864,2420,125510880,3840,2124,8156160,23.0,1344.0,30912.0,335516176.0
2010-09-30,1345,1680,2259600,4455,4428,19726740,2237,3860,8634820,20670,...,49885,2420,120721700,3766,2124,7998984,26.0,1344.0,34944.0,328062100.0
2010-10-31,1038,1964,2038632,4297,4788,20574036,2190,4172,9136680,20874,...,47635,2292,109179420,3570,2200,7854000,NaN,NaN,NaN,NaN
2010-11-30,776,1964,1524064,4283,4788,20507004,2190,4172,9136680,21275,...,46567,2292,106731564,3597,2200,7913400,NaN,NaN,NaN,NaN
2010-12-31,564,1964,1107696,4275,4788,20468700,2164,4172,9028208,21207,...,45427,2292,104118684,3665,2200,8063000,NaN,NaN,NaN,NaN
2011-01-31,375,2420,907500,3663,4156,15223428,2046,3976,8134896,19868,...,43874,2280,100032720,3539,1988,7035532,NaN,NaN,NaN,NaN
2011-02-28,392,2420,948640,3800,4156,15792800,2050,3976,8150800,19626,...,43593,2280,99392040,3537,1988,7031556,NaN,NaN,NaN,NaN
2011-03-31,433,2420,1047860,4269,4156,17741964,2155,3976,8568280,19646,...,44057,2280,100449960,3651,1988,7258188,NaN,NaN,NaN,NaN
2011-04-30,538,1776,955488,5033,4940,24863020,2172,3916,8505552,19761,...,45085,2220,100088700,3649,2064,7531536,NaN,NaN,NaN,NaN
2011-05-31,719,1776,1276944,5490,4940,27120600,2263,3916,8861908,20152,...,46559,2220,103360980,3674,2064,7583136,NaN,NaN,NaN,NaN
2011-06-30,4809,1776,8540784,5782,4940,28563080,2346,3916,9186936,20715,...,48849,2220,108444780,3849,2064,7944336,NaN,NaN,NaN,NaN
2011-07-31,5796,2036,11800656,5959,4960,29556640,2285,4048,9249680,20850,...,49728,2276,113180928,3868,2148,8308464,5.0,2020.0,10100.0,347589532.0
2011-08-31,1313,2036,2673268,5874,4960,29135040,2251,4048,9112048,20991,...,49384,2276,112397984,3849,2148,8267652,5.0,2020.0,10100.0,337381040.0
2011-09-30,1432,2036,2915552,5824,4960,28887040,2230,4048,9027040,20987,...,47345,2276,107757220,3747,2148,8048556,5.0,2020.0,10100.0,331847512.0
2011-10-31,921,2308,2125668,5782,5420,31338440,2246,4104,9217584,21063,...,45864,2200,100900800,3640,2176,7920640,10.0,4260.0,42600.0,333250876.0
2011-11-30,755,2308,1742540,5553,5420,30097260,2231,4104,9156024,21500,...,45071,2200,99156200,3646,2176,7933696,10.0,4260.0,42600.0,330963316.0
2011-12-31,576,2308,1329408,5497,5420,29793740,2232,4104,9160128,21294,...,44468,2200,97829600,3686,2176,8020736,14.0,4260.0,59640.0,327884220.0
2012-01-31,493,2320,1143760,5005,4872,24384360,2103,3976,8361528,20472,...,43221,2220,95950620,3644,2076,7564944,9.0,728.0,6552.0,307042408.0
2012-02-29,456,2320,1057920,4818,4872,23473296,2103,3976,8361528,20128,...,43169,2220,95835180,3607,2076,7488132,11.0,728.0,8008.0,305928424.0
2012-03-31,525,2320,1218000,4759,4872,23185848,2184,3976,8683584,20101,...,45349,2220,100674780,3674,2076,7627224,6.0,728.0,4368.0,312458732.0
2012-04-30,973,1612,1568476,4476,4508,20177808,2217,3704,8211768,20272,...,47676,2208,105268608,3719,2064,7676016,26.0,1144.0,29744.0,310512044.0
2012-05-31,1250,1612,2015000,4356,4508,19636848,2198,3704,8141392,20819,...,49055,2208,108313440,3814,2064,7872096,67.0,1144.0,76648.0,315581216.0
2012-06-30,7729,1612,12459148,4410,4508,19880280,2235,3704,8278440,21397,...,51459,2208,113621472,4050,2064,8359200,90.0,1144.0,102960.0,335586524.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-07-31,7498,1976,14816048,4558,4336,19763488,2047,3852,7885044,21027,...,51030,2248,114715440,4554,2008,9144432,52.0,1128.0,58656.0,341316488.0
2013-08-31,1798,1976,3552848,4526,4336,19624736,2060,3852,7935120,21101,...,50697,2248,113966856,4443,2008,8921544,54.0,1128.0,60912.0,329286700.0
2013-09-30,1291,1976,2551016,4506,4336,19538016,2042,3852,7865784,21078,...,48871,2248,109862008,4168,2008,8369344,64.0,1128.0,72192.0,324625136.0
2013-10-31,1089,2228,2426292,4313,4884,21064692,2005,4184,8388920,21193,...,45540,2132,97091280,4113,2052,8439876,17.0,2784.0,47328.0,326850660.0
2013-11-30,844,2228,1880432,4339,4884,21191676,2049,4184,8573016,21735,...,44437,2132,94739684,4118,2052,8450136,17.0,2784.0,47328.0,325206668.0
2013-12-31,591,2228,1316748,4076,4884,19907184,1984,4184,8301056,21856,...,43558,2132,92865656,4129,2052,8472708,19.0,2784.0,52896.0,320521084.0
2014-01-31,493,2376,1171368,3858,3948,15231384,1918,3928,7533904,20183,...,40951,2224,91075024,3957,1992,7882344,7.0,4172.0,29204.0,294366816.0
2014-02-28,474,2376,1126224,3755,3948,14824740,1922,3928,7549616,19960,...,40669,2224,90447856,3884,1992,7736928,9.0,4172.0,37548.0,294636072.0
2014-03-31,573,2376,1361448,3963,3948,15645924,1981,3928,7781368,20139,...,41436,2224,92153664,3931,1992,7830552,9.0,4172.0,37548.0,299467936.0
2014-04-30,721,1732,1248772,4345,4360,18944200,1967,3864,7600488,20437,...,42373,2164,91695172,4014,2064,8284896,12.0,3052.0,36624.0,302544504.0
2014-05-31,868,1732,1503376,4674,4360,20378640,1993,3864,7700952,21031,...,44449,2164,96187636,4047,2064,8353008,12.0,3052.0,36624.0,311978996.0
2014-06-30,3645,1732,6313140,4726,4360,20605360,2055,3864,7940520,21480,...,46960,2164,101621440,4273,2064,8819472,9.0,3052.0,27468.0,324634452.0
2014-07-31,7021,2032,14266672,4700,4412,20736400,2025,3876,7848900,21442,...,47787,2292,109527804,4403,2056,9052568,7.0,1864.0,13048.0,343513568.0
2014-08-31,1857,2032,3773424,4785,4412,21111420,2040,3876,7907040,21514,...,46914,2292,107526888,4382,2056,9009392,13.0,1864.0,24232.0,331240456.0
2014-09-30,1344,2032,2731008,4863,4412,21455556,2028,3876,7860528,21384,...,43138,2292,98872296,4122,2056,8474832,14.0,1864.0,26096.0,321233316.0
2014-10-31,1013,2396,2427148,4870,4960,24155200,2023,4216,8528968,21648,...,38800,2224,86291200,3952,2140,8457280,0.0,0.0,0.0,333033972.0
2014-11-30,807,2396,1933572,4801,4960,23812960,2021,4216,8520536,21844,...,37353,2224,83073072,3954,2140,8461560,0.0,0.0,0.0,328788908.0
2014-12-31,634,2396,1519064,4955,4960,24576800,2027,4216,8545832,21973,...,36030,2224,80130720,3929,2140,8408060,0.0,0.0,0.0,325014452.0
2015-01-31,492,2508,1233936,4493,4276,19212068,1936,4052,7844672,20524,...,34869,2216,77269704,3574,2024,7233776,18.0,1524.0,27432.0,288513748.0
2015-02-28,452,2508,1133616,4552,4276,19464352,1928,4052,7812256,20162,...,34764,2216,77037024,3526,2024,7136624,17.0,1524.0,25908.0,289509704.0
2015-03-31,496,2508,1243968,4770,4276,20396520,1953,4052,7913556,20403,...,34989,2216,77535624,3558,2024,7201392,18.0,1524.0,27432.0,292052220.0
2015-04-30,645,1500,967500,5326,4728,25181328,1996,4100,8183600,20555,...,36365,2144,77966560,3574,2084,7448216,84.0,1696.0,142464.0,299656132.0
2015-05-31,911,1500,1366500,5493,4728,25970904,2057,4100,8433700,21098,...,38073,2144,81628512,3660,2084,7627440,121.0,1696.0,205216.0,308566952.0
2015-06-30,5430,1500,8145000,5565,4728,26311320,2129,4100,8728900,21528,...,40305,2144,86413920,3823,2084,7967132,130.0,1696.0,220480.0,321842352.0
2015-07-31,6905,1816,12539480,5435,4768,25914080,2152,3948,8496096,21505,...,41017,2244,92042148,3912,2132,8340384,30.0,1640.0,49200.0,337164864.0
2015-08-31,1668,1816,3029088,5374,4768,25623232,2136,3948,8432928,21660,...,40761,2244,91467684,3902,2132,8319064,47.0,1640.0,77080.0,326568388.0
2015-09-30,1370,1816,2487920,5222,4768,24898496,2076,3948,8196048,21551,...,39229,2244,88029876,3732,2132,7956624,55.0,1640.0,90200.0,322344812.0
2015-10-31,1015,2304,2338560,5309,5248,27861632,2087,4700,9808900,21855,...,37222,2220,82632840,3743,2216,8294488,115.0,1652.0,189980.0,342316988.0
2015-11-30,861,2304,1983744,5327,5248,27956096,2097,4700,9855900,22097,...,36498,2220,81025560,3731,2216,8267896,113.0,1652.0,186676.0,339862220.0
2015-12-31,695,2304,1601280,5321,5248,27924608,2093,4700,9837100,22111,...,36298,2220,80581560,3700,2216,8199200,126.0,1652.0,208152.0,338688340.0